#box {
    /* border: 2px  solid red; */
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.box-items{

    height: 2rem;
    font-size: 1rem;
}
#button {
    margin-left: 2rem;
}

#images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
#images img{
    max-width: 500px;
    max-height: 500px;
}